body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    font-family: "Imbue", serif;
}

html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
}

#background {
    width: 100vw;
    height: 100dvh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#gamerule {
    position: relative;
    top: -10px;
    font-size: 14px;
}

#timer {
    font-size: 30px;
    margin: 8px 0 14px;
    position: relative;
    top: -1px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-auto-rows: 120px;
    gap: 12px;
    justify-content: center;
    margin: 16px auto;
    position: relative;
    top: -10px;
}

.light {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 12px;


    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);



    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: pointer;


    font-size: 0;
    box-shadow: inset 0 0 26px 14px rgba(255, 255, 255, 0.08);

    transition: box-shadow .2s ease, background-color .2s ease, transform .1s ease;
}


.light.on {
    background-color: #ffe066;
    box-shadow:
        inset 0 0 30px 16px rgba(255, 224, 102, 0.45),
        0 0 30px 10px rgba(255, 224, 102, 0.35);

}

.light.off {
    background-color: #222;
    box-shadow: inset 0 0 24px 14px rgba(255, 255, 255, 0.06);
    opacity: 0.5;
}


.light:active {
    transform: scale(0.98);
    transition: transform .1s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    position: relative;
    top: 60px;
}

.buttons button {
    font-family: "Imbue", serif;
    font-size: 17px;
    letter-spacing: .04em;
    color: #fff;

    width: 90px;
    height: 36px;

    background: rgba(255, 255, 255, .08);
    border-radius: 10px;
    border: none;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow:
        0 0 8px rgba(255, 255, 255, .35),
        0 0 18px rgba(255, 255, 255, .2);

    transition: box-shadow .25s ease, transform .2s ease;
    cursor: pointer;

}

.buttons button:hover {
    box-shadow:
        0 0 12px rgba(255, 255, 255, .5),
        0 0 25px rgba(255, 255, 255, .3);
    transform: scale(1.03);
}

.buttons button:active {
    transform: scale(0.97);
}



#backBtn {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 36px;

    font-family: "Imbue", serif;
    font-size: 20px;
    letter-spacing: .04em;
    color: #fff;
    text-decoration: none;

    background: rgba(255, 255, 255, .08);
    border-radius: 10px;
    border: none;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow:
        0 0 8px rgba(255, 255, 255, .35),
        0 0 18px rgba(255, 255, 255, .2);

    transition: box-shadow .25s ease, transform .2s ease;
    cursor: pointer;
}

#backBtn a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 36px;
}

#backBtn a:visited,
#backBtn a:active {
    color: inherit;
    text-decoration: none;
}


#result {
    position: relative;
    top: 20px;
    font-size: 30px;
    font-family: "Imbue", serif;
    letter-spacing: 0.05em;
    transition: color .3s ease, text-shadow .3s ease;

}


#result.win {
    color: #ffe066 !important;
    text-shadow: 0 0 12px rgba(255, 224, 102, 0.6);
}

#result.lose {
    color: #ff4d4d !important;
    text-shadow: 0 0 12px rgba(255, 77, 77, 0.6);
}