body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    font-family: "Imbue", serif;
}

html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
}

#background {
    width: 100vw;
    height: 100dvh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#title {
    background-image: url(gamerule.png);
    width: 250px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    top: 70px;
}

#gamerule {
    font-family: "Gowun Batang", serif;
    font-size: 15px;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    top: 100px;
}

#gamerule b {
    font-weight: 900;
}


#ghost1 {
    background-image: url(ghost1front.png);
    width: 400px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 220px;
    top: 180px;
    animation: float 3s ease-in-out infinite;
}

#ghost2 {
    background-image: url(ghost2front.png);
    width: 400px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    top: -70px;
    right: -30px;
    animation: float 3.8s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


#backBtn {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 44px;

    font-family: "Imbue", serif;
    font-size: 18px;
    letter-spacing: .05em;
    color: #fff;
    text-decoration: none;

    background: rgba(255, 255, 255, .08);
    border-radius: 12px;
    border: none;


    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow:
        0 0 10px rgba(255, 255, 255, .4),
        0 0 25px rgba(255, 255, 255, .25);

    transition: box-shadow .25s ease, transform .2s ease;
    cursor: pointer;
}

#backBtn a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 44px;
}

#backBtn a:visited,
#backBtn a:active {
    color: inherit;
    text-decoration: none;
}