body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    font-family: "Imbue", serif;
}

#background {
    width: 100vw;
    height: 100dvh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#title {
    background-image: url(gametitle.png);
    width: 300px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    top: 80px;
}

#title2 {
    background-image: url(title2.png);
    width: 170px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    top: 00px;
}

#ghost1 {
    background-image: url(ghost1-1.png);
    width: 400px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 200px;
    top: 10px;
    animation: float 3s ease-in-out infinite;
}

#ghost2 {
    background-image: url(ghost2-2.png);
    width: 400px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
    top: -140px;
    right: -10px;
    animation: float 3.8s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
    top: -80px;
    gap: 25px;
}


#menu button {
    width: 180px;
    height: 48px;
    font-family: "Imbue", serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    border: none;
    border-radius: 12px;
    color: white;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    cursor: pointer;
    overflow: hidden;
    position: relative;


    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 25px rgba(255, 255, 255, 0.25);

    transition: all 0.3s ease;
}


#menu button a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    line-height: 48px;
}


#menu button:hover {
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
}


#menu button a:visited,
#menu button a:active {
    color: white;
    text-decoration: none;
}